<%- include('includes/start') %>
    
</head>
<body>
    <%- include('includes/navbar') %>
    <main>
        <div class="container">
           <table>
            <tr>
                <th></th>
                <th id="monday">Hétfő</th>
                <th id="tuesday">Kedd</th>
                <th id="wednesday">Szerda</th>
                <th id="thursday">Csütörtök</th>
                <th id="friday">Péntek</th>
                <th id="saturday">Szombat</th>
                <th id="sunday">Vasárnap</th>
            </tr>
            <tbody>
                <% for (let hour = 0; hour <= 23; hour++) { %>
                    <tr>
                        <td><%= hour %>:00</td>
                        <% ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"].forEach(day => { %>
                            <% const lesson = lessons.find(l => l.day === day && parseInt(l.fromTime) === hour); %>
                            <td rowspan="<%= (lesson) ? lesson.lengthTime : '1' %>">
                            
                                <% if (lesson) { %>
                                    <%= lesson.subject %> (<%= lesson.shortVer %>)
                                <% } %>
                            </td>
                        <% }) %>
                    </tr>
                <% } %>
            </tbody>
           </table>
        </div>
    </main>
</body>
</html>